

.container{
    max-width: 400px;
    margin: auto;
}

.tabContainer {
    overflow-x: auto;
}
.tabContainer::-webkit-scrollbar {
    height: 5px;
}
.tabContainer::-webkit-scrollbar-track {
    background: #000;
}
.tabContainer::-webkit-scrollbar-thumb {
    background: #000;
}

.tab{
    background: #ddd;
	padding: 5px 0;
}

/*.tab__button{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
	color:#ddd;
    min-width: 80px;
}*/

.tab__button{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    color: #ddd;
    width: 49%;
}
.tab__button.active{

}

.tab__button a{
    padding: 10px;
    display: block;
    text-decoration: none;
    font-size: 15px;
	color:#999;
}
.tab__button.active a{
	color:#000;
    border-bottom: 1xp solid #000;
}

.contents__content{
    text-align: center;
}

.contents__content div{
    clear: left;
}
.drawer--top.drawer-open .drawer-nav {
	top:58px;	
}



